*{
    box-sizing: border-box;
    direction: rtl;
}
body {
    margin: 0;
    direction: rtl;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*main*/
body main {
    margin-top: 60px;     /* ارتفاع الهيدر */
    margin-bottom: 50px;  /* ارتفاع الفوتر */
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    flex: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
}
body.dark-mode{
    background-color: #010510;
    color: #fff;
}

#storyContainer {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    background: white;
    border-radius: 12px;
    padding: 15px;

    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    justify-content: center;
    align-items: center;
}
main .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 800px;
    margin: 0 auto;

    padding: 10px;
}

main .buttons button {
    padding: 8px 18px;
    border: none;
    border-radius: 8px;
    background: #005676;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

main .buttons button:hover {
    background: #003f50;
}

#pageInfo {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}