*{
    box-sizing: border-box;
    direction: rtl;
    margin: 0;
    padding: 0;
}
body{
background:#0f172a;
color:white;
font-family:Tahoma;
display:flex;
justify-content:center;
align-items:center;
height:100vh
}

.card{
background:#020617;
padding:30px;
border-radius:20px;
width:380px;
text-align:center;
margin-top: 65px;
}

input,button{
width:100%;
margin-top:10px;
padding:10px;
border-radius:10px;
border:none
}

button{
cursor:pointer
}

.login{
background:#2563eb;
color:white
}

.signup{
background:#16a34a;
color:white
}

.google{
background:#dc2626;
color:white
}

.facebook{
background:#1d4ed8;
color:white
}

.logout{
background:#ef4444;
color:white
}

.link{
margin-top:10px;
cursor:pointer;
color:#93c5fd
}

.userItem{
background:#111827;
margin-top:10px;
padding:10px;
border-radius:10px;
text-align:right
}

.deleteBtn{
background:#b91c1c;
margin-top:5px
}